# Core functionality - changes here should be rare!
/src/app.py                   @CourtneyCole-Prospa
/src/backend/database.py      @CourtneyCole-Prospa
/src/backend/routers/auth.py  @CourtneyCole-Prospa

# The frontend will need refactored soon to be more object oriented.
/src/static/   @CourtneyCole-Prospa
